<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Quên Mật Khẩu</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="container-fluid text-center">
    <div class="mt-5">
        <h2>Quên mật khẩu</h2>
    </div>

    <form th:action="@{/forgot_password}" method="post" style="max-width: 560px; margin: 0 auto" class="mt-2">
        <div th:if="${message != null}" class="alert alert-success text-center" id="hideMessage">
            [[${message}]]
        </div>
        <div th:if="${error != null}" class="alert alert-danger text-center" id="hideError">
            [[${error}]]
        </div>

        <div class="border border-secondary rounded p-3">
            <div>
                <p>Chúng tôi sẽ gửi một liên kết đặt lại mật khẩu đến email của bạn.</p>
            </div>
            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Nhập email của bạn"
                           required="required" autofocus="autofocus"/>
                </p>
            </div>
            <div>
                <p>
                    <input type="submit" value="Gửi" class="btn btn-primary"/>
                </p>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $(document).ready(function () {
        const message = $('#hideMessage');
        const error = $('#hideError');

        if (message.length > 0) {
            function hideMessage() {
                message.hide();
            }

            setTimeout(hideMessage, 5000);
        }

        if (error.length > 0) {
            function hideError() {
                error.hide();
            }

            setTimeout(hideError, 5000);
        }
    });
</script>

</body>
</html>