<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>

<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div class="text-center">
        <h2>[[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/customers/save}" th:object="${customer}" method="post"
          style="max-width: 600px; margin:  0 auto;">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Họ:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tên:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" required>
                    <div id="email-status"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mật khẩu:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" th:field="*{password}"
                           placeholder="Để trống nếu bạn không muốn thay đổi mật khẩu">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">SĐT:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{phoneNumber}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Địa chỉ số 1:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{addressLine1}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Địa chỉ số 2:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{addressLine2}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quận / Huyện:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{city}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tỉnh / Thành phố:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{state}" list="listStates">
                    <datalist id="listStates">
                    </datalist>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quốc gia:</label>
                <div class="col-sm-8">
                    <select th:field="*{country}" class="form-control">
                        <option th:each="country : ${listCountries}" th:value="${country.id}">
                            [[${country.name}]]
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mã Bưu Điện:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{postalCode}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" class="m-2"/>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Lưu" class="btn btn-primary m-3"/>
                <a th:href="@{/customers}" class="btn btn-secondary">Huỷ</a>
            </div>
        </div>
    </form>

    <div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    moduleURL = "[[@{/customers}]]";
    $(document).ready(function () {
        let emailInput = $('input[name="email"]');
        let emailStatus = $('#email-status');
        let url = "[[@{/customers/check_email}]]";

        // Kiểm tra email khi người dùng rời khỏi trường email hoặc thay đổi nội dung trường
        emailInput.on('blur', function () {
            let email = $(this).val();
            let csrfToken = $('input[name="_csrf"]').val();
            let customerId = $('#id').val();
            if (email !== '') {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {id: customerId, email: email, _csrf: csrfToken},
                    success: function (data) {
                        if (data === 'OK') {
                            emailStatus.html('');
                        } else if (data === 'Duplicated') {
                            emailStatus.html('<span style="color:red">Email đã tồn tại</span>');
                        }
                    }
                });
            } else {
                emailStatus.empty();
            }
        });
    });
</script>
<script th:src="@{/js/common_form_country_state.js}"></script>
</body>
</html>