<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${SITE_NAME}]] - Đăng ký</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="text-center">
        <h2>Đăng Ký</h2>
    </div>

    <form th:action="@{/create_customer}" method="post" th:object="${customer}"
          style="max-width: 600px; margin: 0 auto">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Họ:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required="required"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tên:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control"
                           required="required"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control"
                           required="required" maxlength="45" minlength="8"/>
                    <div id="email-status"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mật khẩu:</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required="required" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                    />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nhập lại mật khẩu:</label>
                <div class="col-sm-8">
                    <input type="password" id="confirmPassword" class="form-control"
                           required="required" oninput="checkPasswordMatch(this)"
                    />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">SĐT:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phoneNumber}" class="form-control"
                           required="required" maxlength="15" minlength="8"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quốc gia:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{country}">
                        <th:block th:each="country : ${listCountries}">
                            <option th:value="${country.id}">[[${country.name}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tỉnh / Thành Phố:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{state}" class="form-control"
                           maxlength="45" minlength="3" list="listStates"/>
                    <datalist id="listStates"></datalist>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quận:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{city}" class="form-control"
                           maxlength="45" minlength="2"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Địa chỉ số 1:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{addressLine1}" class="form-control"
                           required="required" maxlength="64" minlength="3"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Địa chỉ số 2:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{addressLine2}" class="form-control"
                           maxlength="64"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mã Bưu Điện:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{postalCode}" class="form-control"
                           maxlength="10" minlength="2"/>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Đăng Ký" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/js/common_customer_form.js}"></script>
<script type="text/javascript">
    contextPath = "[[@{/}]]";

    var dropDownCountry;
    var dataListState;
    var fieldState;

    $(document).ready(function () {
        let emailInput = $('input[name="email"]');
        let emailStatus = $('#email-status');
        let url = "[[@{/customers/check_unique_email}]]";

        // Kiểm tra email khi người dùng rời khỏi trường email hoặc thay đổi nội dung trường
        emailInput.on('blur', function () {
            let email = $(this).val();
            let csrfToken = $('input[name="_csrf"]').val();
            if (email !== '') {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {email: email, _csrf: csrfToken},
                    success: function (data) {
                        if (data === 'OK') {
                            emailStatus.html('');
                        } else if (data === 'Duplicated') {
                            emailStatus.html('<span style="color:red">Email đã tồn tại</span>');
                        }
                    }
                });
            } else {
                emailStatus.empty();
            }
        });

        dropDownCountry = $("#country");
        dataListState = $("#listStates");
        fieldState = $("#state");

        dropDownCountry.on("change", function () {
            loadStatesForCountry();
            fieldState.val("").focus();
        });
    });
</script>

</body>
</html>