<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${SITE_NAME}]] - [[${pageTitle}]]</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="text-center">
        <h2>Đăng Ký Khách Hàng</h2>
        <h4>Bạn đã đăng ký thành công làm ơn kiểm tra email của bạn để xác minh tài khoản</h4>
        <p><a th:href="@{/login}">Đăng Nhập</a></p>
    </div>
</div>

</body>

</html>