<div th:fragment="content(statusVar, statusName, iconName, title)" class="col" th:title="${title}">
    <th:block th:if="${statusVar}">
        <i th:class="'fas ' + ${iconName} + ' fa-2x icon-green'"></i>
    </th:block>
    <th:block th:unless="${statusVar}">
        <a th:class="'fas ' + ${iconName} + ' fa-2x icon-gray linkUpdateStatus'"
           th:id="'link' + ${statusName} + ${order.id}"
           th:orderId="${order.id}"
           th:status="${statusName}"
           th:href="@{'/orders_shipper/update/' + ${order.id} + '/' + ${statusName}}"
        ></a>
    </th:block>
</div>

