<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head('Admin - Quản lý nhân viên')"></head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div>
        <h2>Quản lý nhân viên</h2>
        <a th:href="@{/users/new}">Thêm nhân viên</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Ảnh</th>
                <th>E-mail</th>
                <th>Họ và tên</th>
                <th>Sđt</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td>[[${user.id}]]</td>
                <td><span class="fas fa-portrait fa-3x icon-gray"></span></td>
                <td>[[${user.email}]]</td>
                <td th:if="${user.id == 1}">
                    [[${user.firstName}]]
                </td>
                <td th:unless="${user.id == 1}">
                    [[${user.lastName}]] [[${user.firstName}]]
                </td>
                <td>[[${user.phoneNumber}]]</td>
                <td>[[${user.roles}]]</td>

                <th:block>
                    <td th:if="${user.id == 1}"></td>
                    <td th:unless="${user.id == 1}">
                        <a href="" class="fas fa-check-circle fa-2x icon-green" th:if="${user.enabled}"></a>
                        <a href="" class="fas fa-check-circle fa-2x icon-gray" th:unless="${user.enabled}"></a>
                    </td>
                </th:block>

                <th:block>
                    <td th:if="${user.id == 1}"></td>
                    <td th:unless="${user.id == 1}">
                        <a th:href="@{'/users/edit/' + ${user.id}}" class="fas fa-edit fa-2x icon-green"></a>&nbsp;
                        <a href="" class="fas fa-trash fa-2x icon-gray"></a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: footer"></div>

</div>
</body>
</html>