<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head('Admin - Quản lý nhân viên')"></head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div>
        <h2>Quản lý nhân viên</h2>
        <a th:href="@{/users/new}">Thêm nhân viên</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/csv}">Xuất ra CSV</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/excel}">Xuất ra Excel</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/pdf}">Xuất ra PDF</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center" id="hideMessage">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortType" th:value="${sortType}"/>

            Tìm kiếm:&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required
                   placeholder="Tìm kiếm..."/>
            &nbsp;&nbsp;
            <input type="submit" value="Tìm kiếm" class="btn btn-primary"/>
            &nbsp;&nbsp;
            <input type="button" value="Xoá" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: sort_column('id', 'ID')"></th>
                <th>Ảnh</th>
                <th>E-mail</th>
                <th>Họ và tên</th>
                <th>Sđt</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td>[[${user.id}]]</td>
                <td>
                    <span th:if="${user.imagePath == null}" class="fas fa-portrait fa-3x icon-gray"></span>
                    <img th:unless="${user.imagePath == null}" th:src="@{${user.photosImagePath}}" alt="personal photo"
                         style="height: 70px">
                </td>
                <td>[[${user.email}]]</td>
                <td th:if="${user.id == 1}">
                    [[${user.firstName}]]
                </td>
                <td th:unless="${user.id == 1}">
                    [[${user.lastName}]] [[${user.firstName}]]
                </td>
                <td>[[${user.phoneNumber}]]</td>
                <td>[[${user.roles}]]</td>

                <th:block>
                    <td th:if="${user.id == 1}"></td>
                    <td th:unless="${user.id == 1}">
                        <a th:href="@{'/users/' + ${user.id} + '/enabled/false'}" th:if="${user.enabled}"
                           class="fas fa-check-circle fa-2x icon-green" title="Vô hiệu hoá nhân viên"></a>
                        <a th:href="@{'/users/' + ${user.id} + '/enabled/true'}" th:unless="${user.enabled}"
                           class="fas fa-check-circle fa-2x icon-gray" title="Kích hoạt nhân viên"></a>
                    </td>
                </th:block>

                <th:block>
                    <td th:if="${user.id == 1}"></td>
                    <td th:unless="${user.id == 1}">
                        <a th:href="@{'/users/edit/' + ${user.id}}" class="fas fa-edit fa-2x icon-green"
                           title="Chỉnh sửa nhân viên"></a>&nbsp;
                        <a th:href="@{'/users/delete/' + ${user.id}}" class="fas fa-trash fa-2x icon-gray link-delete"
                           title="Xoá nhân viên" th:userId="${user.id}"></a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>Không tìm thấy người dùng</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: pagination(1, 'Đầu')"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: pagination(${currentPage - 1}, 'Trước')"></a>
                </li>
                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments :: pagination(${i}, ${i})"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: pagination(${currentPage + 1}, 'Sau')"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: pagination(${totalPages}, 'Cuối')"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="fragments :: confirm_modal('nhân viên')"></div>

    <div th:replace="fragments :: footer"></div>

</div>
</body>
<script th:src="@{/js/common.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            let link = $(this);
            let userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Bạn có chắc muốn xoá nhân viên có id là " + userId + " này không ?");
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = "[[@{/users}]]";
    }
</script>

</html>