<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head('Admin - Quản lý nhân viên')"></head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div>
        <h2>Quản lý nhân viên</h2>
        <a th:href="@{/users/new}">Thêm nhân viên</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center" id="hideMessage">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a th:if="${sortField == 'id'}" class="text-white"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortType=' + ${reverseSortType}}">
                        ID
                    </a>
                    <a th:unless="${sortField == 'id'}" class="text-white"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortType=' + ${sortType}}">
                        ID
                    </a>
                    <span th:if="${sortField == 'id'}"
                          th:class="${sortType == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                </th>
                <th>Ảnh</th>
                <th>E-mail</th>
                <th>Họ và tên</th>
                <th>Sđt</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td>[[${user.id}]]</td>
                <td>
                    <span th:if="${user.imagePath == null}" class="fas fa-portrait fa-3x icon-gray"></span>
                    <img th:unless="${user.imagePath == null}" th:src="@{${user.photosImagePath}}" alt="personal photo"
                         style="height: 70px">
                </td>
                <td>[[${user.email}]]</td>
                <td th:if="${user.id == 1}">
                    [[${user.firstName}]]
                </td>
                <td th:unless="${user.id == 1}">
                    [[${user.lastName}]] [[${user.firstName}]]
                </td>
                <td>[[${user.phoneNumber}]]</td>
                <td>[[${user.roles}]]</td>

                <th:block>
                    <td th:if="${user.id == 1}"></td>
                    <td th:unless="${user.id == 1}">
                        <a th:href="@{'/users/' + ${user.id} + '/enabled/false'}" th:if="${user.enabled}"
                           class="fas fa-check-circle fa-2x icon-green" title="Vô hiệu hoá nhân viên"></a>
                        <a th:href="@{'/users/' + ${user.id} + '/enabled/true'}" th:unless="${user.enabled}"
                           class="fas fa-check-circle fa-2x icon-gray" title="Kích hoạt nhân viên"></a>
                    </td>
                </th:block>

                <th:block>
                    <td th:if="${user.id == 1}"></td>
                    <td th:unless="${user.id == 1}">
                        <a th:href="@{'/users/edit/' + ${user.id}}" class="fas fa-edit fa-2x icon-green"
                           title="Chỉnh sửa nhân viên"></a>&nbsp;
                        <a th:href="@{'/users/delete/' + ${user.id}}" class="fas fa-trash fa-2x icon-gray link-delete"
                           title="Xoá nhân viên" th:userId="${user.id}"></a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>Không tìm thấy người dùng</span>
    </div>

    <div>
        <nav>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortType=' + ${sortType}}">
                        Đầu
                    </a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortType=' + ${sortType}}">
                        Trước
                    </a>
                </li>
                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortType=' + ${sortType}}">
                        [[${i}]]
                    </a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortType=' + ${sortType}}">
                        Sau
                    </a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortType=' + ${sortType}}">
                        Cuối
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="fragments :: confirm_modal('nhân viên')"></div>

    <div th:replace="fragments :: footer"></div>

</div>
</body>
<script th:src="@{/js/common.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            let link = $(this);
            let userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Bạn có chắc muốn xoá nhân viên có id là " + userId + " này không ?");
            $("#confirmModal").modal();
        });
    });
</script>

</html>