<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{/css/vendor.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/icon-set/style.css}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css?v=1.0}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <title>Admin - Thêm nhân viên</title>
</head>

<body class="footer-offset">

<main id="content" role="main" class="main">
    <div class="content container-fluid">
        <!--        <c:if test="${not empty id}">-->
        <!--            <form class="js-step-form py-md-5" method="post" enctype="multipart/form-data" action="update_employee"-->
        <!--                  id="userForm">-->
        <!--                <input type="hidden" name="id" value="${id}"/>-->
        <!--                <input type="hidden" name="addressId" value="${address.id}">-->
        <!--        </c:if>-->

        <!--        <c:if test="${empty id}">-->
        <form class="js-step-form py-md-5" method="post" enctype="multipart/form-data" th:action="@{/users/save}"
              id="userForm" th:object="${user}">
            <!--        </c:if>-->

            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <div id="addUserStepFormContent">
                        <div id="addUserStepProfile" class="card card-lg active">
                            <div class="card-body">
                                <div class="row form-group">
                                    <label class="col-sm-3 col-form-label input-label">Ảnh cá nhân</label>

                                    <div class="col-sm-9">
                                        <div class="d-flex align-items-center">
                                            <label class="avatar avatar-xl avatar-circle avatar-uploader mr-5"
                                                   for="avatarUploader">

                                                <!--                                            <c:if test="${not empty imagePath}">-->
                                                <!--                                                <img id="avatarImg" class="avatar-img" alt="Image Description"-->
                                                <!--                                                     src="../images/employee/${id}/${imagePath}">-->
                                                <!--                                            </c:if>-->
                                                <!--                                            <c:if test="${empty imagePath}">-->
                                                <img id="avatarImg" class="avatar-img" alt="Image Description"
                                                     src="../images/default/jpg">
                                                <!--                                            </c:if>-->

                                                <input type="file" class="js-file-attach avatar-uploader-input"
                                                       id="avatarUploader" name="image"
                                                       data-hs-file-attach-options='{
                                                       "textTarget": "#avatarImg",
                                                       "mode": "image",
                                                       "targetAttr": "src",
                                                       "resetTarget": ".js-file-attach-reset-img",
                                                       "resetImg": "../images/default/jpg",
                                                       "allowTypes": [".png", ".jpeg", ".jpg"]}'>

                                                <span class="avatar-uploader-trigger">
                                                    <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                                                </span>
                                            </label>

                                            <button type="button" class="js-file-attach-reset-img btn btn-white">
                                                Xoá
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label for="lastNameLabel"
                                           class="col-sm-3 col-form-label input-label">Họ</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lastNameLabel"
                                               placeholder="Họ" required minlength="2" maxlength="100"
                                               th:field="*{lastName}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label for="firstNameLabel"
                                           class="col-sm-3 col-form-label input-label">Tên</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="firstNameLabel"
                                               placeholder="Tên" required minlength="2" maxlength="45"
                                               th:field="*{firstName}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label for="emailLabel"
                                           class="col-sm-3 col-form-label input-label">Email</label>

                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="emailLabel"
                                               placeholder="example@gmail.com" th:field="*{email}" required
                                               minlength="8" maxlength="64">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label for="passwordLabel" class="col-sm-3 col-form-label input-label">
                                        Mật khẩu
                                    </label>

                                    <div class="col-sm-9">
                                        <input type="password" class="form-control ${not empty id ? 'ignore' : ''}"
                                               id="passwordLabel" required
                                               placeholder="${empty id ? '' : 'Để trống nếu không muốn thay đổi mật khẩu'}"
                                               th:field="*{password}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label for="phoneLabel" class="col-sm-3 col-form-label input-label">
                                        Số điện thoại
                                    </label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="phoneLabel" required minlength="10"
                                               maxlength="10" th:field="*{phoneNumber}">
                                    </div>
                                </div>

                                <!--                                <div class="row form-group">-->
                                <!--                                    <label for="streetLabel"-->
                                <!--                                           class="col-sm-3 col-form-label input-label">Đường</label>-->

                                <!--                                    <div class="col-sm-9">-->
                                <!--                                        <input type="text" class="form-control" name="street" id="streetLabel"-->
                                <!--                                               th:field="*{address.street}">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="row form-group">-->
                                <!--                                    <label for="wardLabel" class="col-sm-3 col-form-label input-label">-->
                                <!--                                        Phường / Xã-->
                                <!--                                    </label>-->

                                <!--                                    <div class="col-sm-9">-->
                                <!--                                        <input type="text" class="form-control" name="ward" id="wardLabel"-->
                                <!--                                               th:field="*{address.ward}">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="row form-group">-->
                                <!--                                    <label for="districtLabel" class="col-sm-3 col-form-label input-label">-->
                                <!--                                        Quận / Huyện-->
                                <!--                                    </label>-->

                                <!--                                    <div class="col-sm-9">-->
                                <!--                                        <input type="text" class="form-control" name="district" id="districtLabel"-->
                                <!--                                               th:field="*{address.district}">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="row form-group">-->
                                <!--                                    <label for="cityLabel" class="col-sm-3 col-form-label input-label">-->
                                <!--                                        Tỉnh / Thành phố-->
                                <!--                                    </label>-->

                                <!--                                    <div class="col-sm-9">-->
                                <!--                                        <input type="text" class="form-control" name="city" id="cityLabel"-->
                                <!--                                               th:field="*{address.city}">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <div class="row form-group">
                                    <label for="roleLabel" class="col-sm-3 col-form-label input-label">
                                        Vai trò
                                    </label>

                                    <div class="col-sm-9 pt-1">
                                        <th:block th:each="role : ${listRoles}">
                                            <input type="checkbox" class="m-2" id="roleLabel" th:field="*{roles}"
                                                   th:text="${role.name}" th:value="${role.id}">
                                            - <small>[[${role.description}]]</small><br>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label for="enableLabel" class="col-sm-3 col-form-label input-label">
                                        Trạng thái
                                    </label>

                                    <div class="col-sm-9 pt-1">
                                        <input type="checkbox" id="enableLabel" class="m-2" th:field="*{enabled}">
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer d-flex justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary">
                                    Xác nhận
                                </button>
                                <button type="button" class="btn btn-danger pr-3 pl-3 ml-3">
                                    <a th:href="@{/users}" class="text-white">Hủy bỏ</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
</script>

</body>

</html>



